In [31]:
import pandas as pd
import numpy as np
import lxml as lm
from string import ascii_uppercase as alfabeto
import pickle

#  Extract data

In [4]:
todas_tablas = pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

In [10]:
#a --> h
#11 --->7*8 *12=68
todas_tablas [12]
todas_tablas [19]
todas_tablas [26]

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Argentina    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  Saudi Arabia    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3        Mexico    0  0  0  0   0   0   0    0                        NaN
3    4        Poland    0  0  0  0   0   0   0    0                        NaN

In [27]:
todas_tablas = pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

dict_tablas = {}
for letra, i in zip(alfabeto, range (12, 68, 7)):
    df = todas_tablas[i]
    df.rename(columns = {df.columns[1]: 'Team'}, inplace =True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letra}'] = df

In [34]:
dict_tablas['Grupo B']

   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    0  0  0  0   0   0   0    0
1    2           Iran    0  0  0  0   0   0   0    0
2    3  United States    0  0  0  0   0   0   0    0
3    4          Wales    0  0  0  0   0   0   0    0

In [32]:
with open ('dict_table', 'wb') as output:
    pickle.dump(dict_tablas, output)